  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} OG 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="footertext"> 
                    <h1  class="footertext">impressum: Kolingasse 1/7, 1090 Wien, Firmenbuchnummer: FN 435674 y, UID: ATU69751002, Firmenbuchgericht: Handelsgericht Wien</h1>
                    
                    </div> 
<!--
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
-->
                </div>
            </div>
        </div>
    </footer>