<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Service</h2>
                    <h3 class="section-subheading text-muted">Zu unseren Leistungen gehören...</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    
                       <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Grafik Design</h4>
                    <p class="text-muted">Logos, Illustrationen, Layoutierung, Typografie, Brand Identities bzw, Markenauftritte, Corporate Design, Corporate Identities</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Fotografie</h4>
                    <p class="text-muted">Wir bieten jede Art von Fotografie an, sei es Presse-, Street-, Werbe-, Reportage-, Food- oder Studio-Fotografie. Videos fallen ebenfalls in unser Repertoire.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Ebenso sind wir auf folgende Leistungen spezialisiert.</h4>
                    <p class="text-muted">Bewerbungen, Konzepte, Namensgebung, Social Media Lösungen für Facebook, Twitter und Co und Webdesign.</p>
                </div>
            </div>
        </div>
    </section>