<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include team.html %}
    {% include services.html %}
     {% include references.html %}
    {% include portfolio_grid.html %}
    {% include about.html %}
    {% include clients.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

            <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpGridGallery.js"></script>
    <script>
      new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
    </script>
    </body>
</html>